{% extends "layout.html" %}

{% block content %}
    <div id="content">
        <h2>Welcome to Making</h2>
        {% if not populate %}
        <h1>No population</h1>
        {% else %}
        <table>
            <thead>
            <tr>
                <th>Room Name</th>
                <th>Length</th>
                <th>Width</th>
                <th>Material</th>
            </tr>
            </thead>
            {% for data in populate %}
            <tr>
                <td>{{ data.r2["name"] }}</td>
                <td>{{ data.r2["length"] }}</td>
                <td>{{ data.r2["width"] }}</td>
                <td>{{ data.r2["material"] }}</td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    </div>
{% endblock %}