{% extends "layout.html" %}

{% block content %}
    <div id="content">
        <h2>Welcome to Making</h2>
        {% if not populate %}
        <h1>No population</h1>
        {% else %}
        <table>
            <thead>
            <tr>
                <th>Monster ID</th>
                <th>Called</th>
                <th>Type</th>
                <th>Damage</th>
            </tr>
            </thead>
            {% for data in populate %}
            <tr>
                <td>{{ data["monster_id"] }}</td>
                <td>{{ data["called"] }}</td>
                <td>{{ data["monster_type"] }}</td>
                <td>{{ data["damage"] }}</td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    </div>
{% endblock %}