body {
    background-color: #5f6062;
    color: #c6ca53;
    margin: 0px;
    padding: 0px;
}

.colors {
    color: #555358;
    background-color: #5f6062;
    border-color: #c6ca53;
    caret-color: #c9dcb3;
    flood-color: #7b7263;
}

#content {
    padding: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #555358;
}

li {
    float: left;
}

li a {
    display: block;
    color: #c6ca53;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #7b7263;
    color: white;
}

.active {
    background-color: #c6ca53;
    color: white;
}

footer {
    padding: 10px;
}

th {
    background-color: #555358;
}

th, td {
    border: 2px #555358 solid;
    padding: 5px 8px;
    font-size: 1.2em;
}

table {
    border-collapse: collapse;
}

.login_name {
    float: right;
    position: absolute;
    font-size: 18px;
    right: 10em;
    top: 3em;
}